<h2>New comments</h2>

<form class="new-comment" action="/post" method="post">
  <div class="row">
    <div class="four columns">
      <input type="username" name="from" id="user-name" placeholder="Your name" class="u-full-width">
    </div>
    <div class="four columns">
      <label class="control-label col-sm-2" for="message">
       Message
      </label>
      <div class="col-sm-10">
       <textarea class="form-control" cols="40" id="article-message" name="remarks" rows="10"></textarea>
      </div>

    <input type="submit" value='Save My User'>
  </div>


</form>
