<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="/signup">Sign up</a>
      <a class="blog-nav-item" href="/login">Log in</a>
      <%# <a class="blog-nav-item" href="/logout">Log out</a>%>
      <%# <a class="blog-nav-item" href="http://localhost:4000/blog/article">Make New Post</a>
      <a class="blog-nav-item" href="http://localhost:4000/comment">New Comments</a>%>
      <a class="blog-nav-item" href="/property">About</a>
    </nav>
  </div>
</div>
<br>

<h1>About us</h1>
<%# <h2>Hello</h2>%>
<p>
  We are a property review blog where we compile various condominiums. Our users can post/edit/delete their comments about the property.
</p>
