<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="/signup">Sign up</a>
      <%# <a class="blog-nav-item" href="/login">Log in</a>%>
      <%# <a class="blog-nav-item" href="/logout">Log out</a>%>
      <%# <a class="blog-nav-item" href="http://localhost:4000/blog/article">Make New Post</a>
      <a class="blog-nav-item" href="http://localhost:4000/comment">New Comments</a>%>
      <a class="blog-nav-item" href="/property">About</a>
    </nav>
  </div>
</div>
<br>

<h1>Login here</h1>

<% if(message.length > 0) { %>
  <h2>FLASH FOUND</h2>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>

<form class="login-user" action="/login" method="post">
  <div class="row">
    <div class="six columns">
      <input type="email" name="user[local][email]" placeholder="Your email" class="u-full-width">
    </div>
    <div class="six columns">
      <input type="password" name="user[local][password]" placeholder="Your password" class="u-full-width">
    </div>
    <input type="submit" value="Log in">
  </div>
</form>
